@font-face {
    font-family: BosaNova;
    src: url('../css/fonts/aBosaNova.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'prod-icon';
    src: url("../css/fonts/icon.eot");
    src: url("../css/fonts/icon.eot?#iefix") format("embedded-opentype"), url("../css/fonts/icon.svg#icon") format("svg"), url("../css/fonts/icon.woff") format("woff"), url("../css/fonts/icon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.prod:before {
    content: attr(data-icon);
    speak: none;
    float: left;
    padding-top: 24px;
    position: absolute;
    padding-left: 7px;
}

header a,
.error-header h2{
    font-family: BosaNova;
    font-size: 36px;
    text-align: center;
    text-shadow: 3px 5px rgba(194, 194, 194, 0.47);
}

header a,
header a:hover,
.error-header h2,
.error-help a:hover{
    color: #1F8DD6;
}

header div:first-letter,
.error-header h2:first-letter{
    font-size: 52px;
}

header div:first-letter,
.error-header h2:first-letter,
header i {
    color: orange;
}

header i {
    font-size: 36px;
    text-shadow: 3px 5px rgba(194, 194, 194, 0.47);
}

header a:hover {
    text-decoration: none;
}

html,
body,
#login-container {
    height: 100%;
}

body {
    font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;
    background-color: #ced7e0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dde4ea), color-stop(100%, #ced7e0));
    background-image: -moz-linear-gradient(90deg, #ced7e0 0%, #dde4ea);
    background-image: -ms-linear-gradient(90deg, #ced7e0 0%, #dde4ea);
}

#login-container {
    z-index: -1;
    background: url(../images/blue-slant-pattern.png);
}

.center,
.form {
    margin: 0 auto;
}

.center {
    padding-top: 5%;
}

.form {
    width: 500px;

}

#login-form, #forgot-password-form {
    width: 500px;
    text-align: left;
}
#login-form,
#forgot-password-form,
.error-container{
    background-color: #ecf0f3;
    border: 1px solid #9cacbc;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin: 0 auto;
    -moz-box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.1);
}
.error-container{
    width: 1000px;
    height: 350px;
}

#login-form label,
#forgot-password-form label{
    font-size: 14px;
    font-weight: 500;
    float: left;
    margin-left: 30px;
    width: 70px;
    color: #999999;
    padding-right: 14px;
    text-align: right;
}
#forgot-password-form{
    height: 230px;
}
form,
.controls {
    position: relative;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    width: 300px
}


.email-info{
    margin: 7px 0!important;
    display: inline-block;
    padding: 0 5px;
    background-color: #9cacbc;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    font-size: 12px;
    text-align: left;
    color: #212f40;
}
.control-group input:hover {
    border-color: rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1) !important;
}

.control-group input {
    border-color: rgba(0, 0, 0, 0.13) !important;
    float: left;
    padding: 0 !important;
    text-indent: 10px;
    margin: 0 !important;
    width: 330px !important;
}

.controls,
.control-group input {
    height: 28px;
    min-height: 28px;
}

input[type=submit] {
    font-size: 14px;
    padding: 2px 8px;
    float: left !important;
    color: white !important;
    border: 1px solid #114d97 !important;
    background-color: #1f8dd6 !important;
    text-shadow: 0px -1px #114d97 !important;
    font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif !important;
    margin: 4px 6px 4px 0px;
    -webkit-border-radius: 3px 3px 3px 3px !important;
    border-radius: 3px 3px 3px 3px !important;
    -moz-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(0, 0, 0, 0.1) !important;
    box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(0, 0, 0, 0.1) !important;
}

a[data-id=forgot-password] {
    font-size: 12px;
    padding-top: 2px;
    color: #1f8dd6;
    padding-left: 115px;
    display: block;
}

a[data-id=forgot-password]:hover {
    text-decoration: underline;
    color: #1f8dd6;
}

input[type=submit]:hover {
    float: left;
    color: white;
    border: 1px solid #114d97;
    background-color: #1f8dd6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#74c1ed), color-stop(100%, #1f8dd6));
    background-image: -moz-linear-gradient(90deg, #1f8dd6 0%, #74c1ed);
    background-image: -ms-linear-gradient(90deg, #1f8dd6 0%, #74c1ed);
    text-shadow: 0 -1px #114d97;
    font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.1);
}

.form-actions {
    background-color: inherit !important;
    margin-top: 0 !important;
    text-align: center;
    padding-left: 115px !important;
    padding-top: 10px !important;
    padding-bottom: 0 !important;
    border-top: 0 !important;
}

header {
    display: block;
    position: relative;
    text-align: center;
    width: auto;
    margin-left: auto;
    height: 10% !important;
}

header > div > div {
    padding-bottom: 7px;
}

header > div {
    width: auto;
    padding-top: 1%;
    text-align: center;
    bottom: 1px;
}

.title {
    font-size: 23px;
    font-weight: 800;
    font-family: proxima-nova-condensed, "Helvetica Neue", Arial, sans-serif;
    padding-top: 18px;
    padding-left: 15px;
    color: #596573;
    text-transform: uppercase;
    text-shadow: 0 1px white;
}

.separator {
    height: 0;
    border-top: 1px solid #c0ccd7;
    margin: 20px 15px;
    border-bottom: 1px solid white;
}

.control-group {
    margin-bottom: 0 !important;
    padding-top: 11px;
    padding-bottom: 4px;
}

.error-banner,
.error-body,
.success-banner{
    margin-top: 10px;
    margin-right: 14px;
    margin-left: 14px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #6e7e91;
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
    padding: 5px 10px 3px 22px;
    border: 1px solid #434c56;
}

.success-banner .success {
    color: #CAF0CA;
}
.error-banner .error{
    color: #ecf0f3;
    font-size: 12px;
    font-weight: 500;
}

.error-body{
    color: #ecf0f3;
    font-size: 14px;
    font-weight: 500;
}

.error-banner .error a{
    color: #91ceff;
    font-weight: 500;
}
.error-help h2{
    color: #1f8dd6;
}
.error-help ul{
    list-style: none;
}
.error-banner .error a:hover {
    text-decoration: underline;
}

.icon-warning-sign {
    color: #F22659;
    font-size: 18px;
    margin: -9px 5px -9px -9px;
    text-shadow: 1px 1px 2px white, 0 0 1em white;
}
.icon-check-sign {
    color: #2B922B;
    font-size: 18px;
    margin: -9px 5px -9px -9px;
    text-shadow: 1px 1px 2px white, 0 0 1em white;
}
.icon-ellipsis-vertical {
    margin-left: 4px;
    vertical-align: baseline !important;
    font-size: 32px !important;
}
.error-help{
    margin-right: 14px;
    margin-left: 20px;
    margin-top: 10px
}

