﻿@font-face {
    font-family: 'prod-icon';
    src: url("../css/fonts/icon.eot");
    src: url("../css/fonts/icon.eot") format("embedded-opentype"), url("../css/fonts/icon.svg") format("svg"), url("../css/fonts/icon.woff") format("woff"), url("../css/fonts/icon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.ui-tabs .ui-tabs-nav li a:hover {
    border-bottom: 0 !important;
}
.canvas{
    overflow: scroll;
}
.card-multimedia{
    height: inherit;
    width: inherit;
}
/*.multimedia-image{*/
    /*display: none!important;*/
/*}*/
.multimedia-main-image,
.multimedia-main-image img
{
    display: inline!important;
    height: inherit;
    width: inherit;
}
html,
body {
    height: 100%;
}

.prod {
    font-family: 'prod-icon' !important;
}

#pagewrap {
    /*width: auto;*/
    overflow-x: hidden;
    margin: 0 auto;
}
body{
    background-color: rgb(236, 236, 236);
}

.ui-tabs {
    padding: 0 !important;
}

#sidebar {
    width: 200px;
    float: left;
    background-color: #f1f6ef;
}

#footer {
    clear: both;
}

.section-grid,
.section-filters {
    /*min-width: 700px;*/
}






.icon-trash, .icon-refresh, .icon-plus-sign {
    background-image: none !important;
}

/*
   Скроллинг
*/
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-corner {
    border-color: #99bce8 !important;
    background-image: none;
    background-color: #d3e1f1;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #dfe9f5), color-stop(100%, #d3e1f1));
    background-image: -webkit-linear-gradient(top, #dfe9f5, #d3e1f1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.ui-menu.ui-widget.ui-widget-content {
    z-index: 10000000;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.11);
}

::-webkit-scrollbar-track {
    background: rgba(97, 97, 97, 0.05);
    /*margin: 10px 5px;*/
    /*padding: 10px 5px;*/
    border: 1px solid rgba(159, 159, 159, 0.27);

}


/*
MODAL CONTROLS.popover-title
*/
.editable-popup textarea,
.editable-popup textarea:focus{
    font-family: 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-size: 1em;
    border: 1px solid #c0c0c0;
    outline: none;
}

.editable-popup .editable-input,
.editable-popup textarea,
.editable-popup textarea:focus,
.wizard-dialog .ui-dialog-content
{
    /*TODO: В завимимости от экрана корректировать высоту и ширину*/
    height: 510px!important;
    width: 917px!important;
}

.wizard-dialog .ui-dialog-content{
    margin: 0 3px;
    overflow:hidden;
}

/*Тикет Ch-55*/
.editable-popup,
.wizard-dialog{
    position: fixed;
    left:50%;
    top: 50%;
    margin-top: -300px;
    margin-left:-500px;
    display: table;
    z-index: 9000!important;
    height: 590px;
}

.wizard-text,
.ui-dialog-content .widget-editable-input{
    border: 1px solid #c0c0c0;
    width: 898px;
    height: 390px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-size: 12px;
    outline: 0;
    margin-left: 10px;
    line-height: 12px;
    text-indent: 0;
}




.widget-tree{
    height: 440px;
}
.select2-input {
    padding-left:4px;
    height: 25px;
}
.widget-header-tree .ui-autocomplete-input,
.select2-input{
    width: 224px!important;
    margin-top:3px
}
.editable-popup,
.ui-menu.ui-widget.ui-widget-content{
    border: 1px solid rgba(0, 0, 0, 0.2);
}

/*.select2-search-field .ui-autocomplete-input{*/
/**/
    /*width: 230px;*/
/*}*/
.popover,
.ui-widget-content
{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.popover-content{
    padding:10px 4px 0 4px;
}




/* buttons panel */
.editable-buttons{
    display: block;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}




.ui-resizable-e:hover{
    width: 8px!important;
    margin: 0px 1px;
    background: #5292f7!important;
    cursor: e-resize;
}

.wizard-select2{
    width: 100%;
    padding: 3px 0 0 10px;
}

.wizard-dialog .ui-dialog-title,
.popover-title
{
    color: #ff8800;
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    /*padding: 0;*/
    margin: 0;
}

.popover-title{
    cursor: default;
    margin-left: 10px;
    border: none;
    border-radius: 0;
    height: 16px;
    padding: 5px 4px;
    /*background: inherit;*/
}

.popover-content .select2-choices,
.ui-dialog-content .select2-choices
{
    position: static!important;
    width: 230px;
    display: inline-block;
    outline:none!important;
    border: none!important;
    background-image: none!important;
    box-shadow: none!important;
}

.popover-content .select2-choices{
    margin-top: 50px!important;
    margin-left: 10px!important;
}

.select2-search-choice {
    width: 205px !important;
    height: 24px !important;
    margin: 0 0 2px!important;
    border: 1px solid silver !important;
    border-radius: 0!important;
    background: white!important;
    background-image: none!important;
    padding: 2px 5px 2px 18px!important;
    overflow: hidden;
}

.dropdown.open .dropdown-toggle,
.nav>li>a:hover{
    color: #ff8800;
}
.select2-search-choice:hover{
    border-color: #ff8800!important;
    /*color:#ff8800!important;*/

}

.select2-search-choice div{
    line-height: 24px;
}
.select2-search-choice-close{
    top:7px!important;
}


.popover-content .select2-container,
.ui-dialog-content .select2-container{
    position: relative;
}

.popover-content .select2-search-field
/*,*/
/*.ui-dialog-content .select2-search-field*/
{
    position: absolute!important;
    top:15px;
    left:10px;
    width: 200px;
    background: white!important;
}



.ui-dialog-titlebar-close{
    display: none;
}



/*.wizard-dialog .ui-dialog-content > ul.dynatree-container{*/
/*padding: 5px 0;*/
/*height: 425px!important;*/
/*}*/
.ui-dialog-buttonpane{
    border:0;
}
.ui-dialog-buttonset{
    margin-right: 10px;
}
.ui-dialog-buttonset,
.ui-dialog-buttonpane{
    padding-bottom: 5px;
}
.widget-header{
    padding-left: 10px;
    padding-top: 10px;
    height: 60px ;
    /*border-bottom: 1px solid #99bce8;*/
    background: white;
}
.widget-header-tree{
    padding: 10px 0 0 10px;
}

.widget-titles{
    color: #777;
    font-size: 1.4em;
    font-weight: bold;
}
.ui-dialog-titlebar{
    border: none!important;
}
.widget-titles-content{
    margin-top: 5px;
    margin-left: 5px;
}
/*.widget-editable-input{*/
    /*background: white;*/
    /*margin-top: 15px;*/
    /*height: 336px;*/
    /*border-top: 1px solid #99bce8!important;*/
    /*border-bottom: none!important;*/
/*}*/

/*.widget-task-description .editable-container{*/
    /*background: white;*/
    /*margin-top: 15px;*/
    /*height: 336px;*/
    /*width: 100%;*/
/*}*/

/*.widget-task-description .editable-container * {*/
    /*height: 100%;*/
/*}*/





/*--------*/
/* buttons */
.card-cancel,
.card-save,
.editable-submit,
.editable-cancel,
.wizard-cancel-button,
.wizard-next-button
{
    background: #fff;
    cursor: pointer;
    height: 22px;
    margin: 2px 8px;
    outline: 0;
}

.card-cancel:hover,
.card-save:hover,
.editable-cancel:hover,
.editable-submit:hover,
.wizard-cancel-button:hover,
.wizard-next-button:hover{
    color: #13689F;
}

.card-cancel,
.editable-cancel,
.wizard-cancel-button{
    border: 0;
    display: inline-block;
}
.card-cancel:hover,
.editable-cancel:hover,
.wizard-cancel-button:hover{
    text-decoration: underline;
}

.card-save,
.editable-submit,
.wizard-next-button{
    border: 1px solid #d1d1d1;
    width: 100px;
}
.card-save:hover,
.editable-submit:hover,
.wizard-next-button:hover{
    border-color: #81a4d0;
    background-color: #dbeeff;
    text-decoration: none;
}

.wizard-no-active,
.wizard-no-active:hover
{
    border-color: #e1e1e1;
    background-color: #f7f7f7;
    opacity: .6;
    color: #6d6d6d;
}



/*
Card controls
*/




.card-content {
    width: 100%;
    float: left; /*for ff*/
    /*height: 100%;*/
    position: relative;
    padding-top: 10px;
    overflow-y: auto;
}


.card-input {
    overflow: hidden;
    border: 1px dashed #aaccf6;
    border-radius: 0;
    margin-right:7px;
    height: auto;
    position: relative;
    font-family: 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif!important;
    font-size: 12px;
}
.card-input-text{
    height: 70%;
    min-height: 27px;
}
.card-grid{
    border: none;
}
.card-default-height {
    height: 22px;
    min-height: 22px;
    box-sizing: border-box;
}

.chocolate-select{
    padding: 0!important;
}
.card-input:not(.card-grid):not(.card-input-no-edit):hover {
    background-color: transparent;
    border-style: solid;
    /*-webkit-box-shadow: inset 0 1px 1px #ebf3fd, 0 0 8px #d9e8fb;*/
    /*-moz-box-shadow: inset 0 1px 1px #ebf3fd, 0 0 8px #d9e8fb;*/
    /*box-shadow: inset 0 1px 1px #ebf3fd, 0 0 8px #d9e8fb;*/
}

.card-input:not(.card-grid):hover a {
    color: #0088cc !important;
}


.card-input .date input {
    width: 100%;
    box-sizing: border-box;
    border: 0!important;
    box-shadow: none;
    padding: 0!important;
}

.card-input .editable-inline textarea{
    /*padding: 0 10px 0 5px!important;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 22px!important;

}
/*-------------------------------------*/

a.editable-click, a.editable-click:hover {
    border: 0;
}

/*.card-row {*/
    /*width: 100%;*/

/*}*/

.card-col {
    /*float: left;*/
    min-height: 45px;
    position: absolute;
    /*height: 100%;*/
    /*margin-bottom: 5px;*/
}

.card-col label {
    margin: 0;
    white-space: nowrap;
    padding: 0;
    color: #0274bd;
    font-size: 12px !important;
    /*text-shadow: 0 1px rgba(188, 214, 232, 0.43);*/
}



/*.card-input textarea:focus,*/
/*.card-inputinput[type="text"]:focus,*/
/*.card-input input[type="password"]:focus,*/
/*.card-input input[type="datetime"]:focus,*/
/*.card-input input[type="datetime-local"]:focus,*/
/*.card-input input[type="date"]:focus,*/
/*.card-input input[type="month"]:focus,*/
/*.card-input input[type="time"]:focus,*/
/*.card-input input[type="week"]:focus,*/
/*.card-input input[type="number"]:focus,*/
/*.card-input input[type="email"]:focus,*/
/*.card-input input[type="url"]:focus,*/
/*.card-input input[type="search"]:focus,*/
/*.card-input input[type="tel"]:focus,*/
/*.card-input input[type="color"]:focus,*/
/*.card-input .uneditable-input:focus {*/
    /*border: 0px solid #aaccf6 !important;*/
    /*box-shadow: none!important;*/

/*}*/

.card-input a {
    display: block;
    color: #6e6e6e !important;
    font-size: 1em;
}



.card-action-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    min-width: 200px;
}

.card-input-no-edit {
    background: white url(../images/completed.png) repeat;
    overflow-y: hidden;
}


.card-input > .table-td,
.card-input > .table-td > a,
.card-input > .table-td > span {
    height: 100%;
    white-space: nowrap;
    line-height: 22px;
}
.card-input textarea{
    line-height: 25px;

}
/*.card-input > .table-td > a{*/
    /*border: 0!important;*/
    /*text-indent: 0!important;*/
/**/
/*}*/


/**
Текстовый контрол
*/
.card-input > .table-td > span form,
.card-input > .table-td > span div,
.card-input > .table-td > span textarea,
.card-input > .table-td > span select{
    height: 100%;
    border: 0 solid #aaccf6 !important;
    font-family: 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif!important;
    font-size: 1em;
    /*padding: 0!important;*/
    /*line-height: 27px!important;*/

}

span.required{
    color:red
}
 /*form th{*/
     /*width: 200px!important;*/
 /*}*/
/*.card-input > .table-td > span select{*/

/*margin-top: -1px;*/
/*margin-left: 6px;*/
    /*padding-left:  0!important;*/
/*padding-top: 0;*/
/*padding-bottom: 0;*/
    /*line-height: 27px;*/
/*}*/

.card-input .select2-search-choice {
    display: inline;
    /*width: auto !important;*/
}

.card-input .select2-container {
    width: 100% !important;
}

.card-input .date {
    width: 100%;
    position: relative;
}


.card-input .date > input:focus {
    z-index: 0 !Important;
}

.card-input .date > span {
    position: absolute;
    right: 0;
}

.card-col label {
    display: inline-block;
}

.card-error {
    /*padding-left: 10px;*/
    color: #ff0000!important;
}





/**
Индикатор загрузки
*/

#fadingBarsG {
    position: fixed;
    display: none;
    width: 100px;
    top: 28px;
    left: 60px;
    z-index: 1031;
    height: 12px
}

.fadingBarsG {
    position: absolute;
    top: 0;
    background-color: #E8A966;
    width: 12px;
    height: 12px;
    -moz-animation-name: bounce_fadingBarsG;
    -moz-animation-duration: 1.3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -moz-transform: scale(.3);
    -webkit-animation-name: bounce_fadingBarsG;
    -webkit-animation-duration: 1.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform: scale(.3);
    -ms-animation-name: bounce_fadingBarsG;
    -ms-animation-duration: 1.3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -ms-transform: scale(.3);
    -o-animation-name: bounce_fadingBarsG;
    -o-animation-duration: 1.3s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    -o-transform: scale(.3);
    animation-name: bounce_fadingBarsG;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-direction: linear;
    transform: scale(.3);
}

#fadingBarsG_1 {
    left: 0;
    -moz-animation-delay: 0.52s;
    -webkit-animation-delay: 0.52s;
    -ms-animation-delay: 0.52s;
    -o-animation-delay: 0.52s;
    animation-delay: 0.52s;
}

#fadingBarsG_2 {
    left: 13px;
    -moz-animation-delay: 0.65s;
    -webkit-animation-delay: 0.65s;
    -ms-animation-delay: 0.65s;
    -o-animation-delay: 0.65s;
    animation-delay: 0.65s;
}

#fadingBarsG_3 {
    left: 25px;
    -moz-animation-delay: 0.78s;
    -webkit-animation-delay: 0.78s;
    -ms-animation-delay: 0.78s;
    -o-animation-delay: 0.78s;
    animation-delay: 0.78s;
}

#fadingBarsG_4 {
    left: 38px;
    -moz-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    animation-delay: 0.91s;
}

#fadingBarsG_5 {
    left: 50px;
    -moz-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    animation-delay: 1.04s;
}

#fadingBarsG_6 {
    left: 63px;
    -moz-animation-delay: 1.17s;
    -webkit-animation-delay: 1.17s;
    -ms-animation-delay: 1.17s;
    -o-animation-delay: 1.17s;
    animation-delay: 1.17s;
}

#fadingBarsG_7 {
    left: 75px;
    -moz-animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    -ms-animation-delay: 1.3s;
    -o-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

#fadingBarsG_8 {
    left: 88px;
    -moz-animation-delay: 1.43s;
    -webkit-animation-delay: 1.43s;
    -ms-animation-delay: 1.43s;
    -o-animation-delay: 1.43s;
    animation-delay: 1.43s;
}

@-moz-keyframes bounce_fadingBarsG {
    0% {
        -moz-transform: scale(1);
        background-color: #ffd794;
    }

    100% {
        -moz-transform: scale(.3);
        background-color: #F5EFEB;
    }

}

@-webkit-keyframes bounce_fadingBarsG {
    0% {
        -webkit-transform: scale(1);
        background-color: #ffd794;
    }

    100% {
        -webkit-transform: scale(.3);
        background-color: #F5EFEB;
    }

}

@-ms-keyframes bounce_fadingBarsG {
    0% {
        -ms-transform: scale(1);
        background-color: #ffd794;
    }

    100% {
        -ms-transform: scale(.3);
        background-color: #F5EFEB;
    }

}

@-o-keyframes bounce_fadingBarsG {
    0% {
        -o-transform: scale(1);
        background-color: #ffd794;
    }

    100% {
        -o-transform: scale(.3);
        background-color: #F5EFEB;
    }

}

@keyframes bounce_fadingBarsG {
    0% {
        transform: scale(1);
        background-color: #ffd794;
    }

    100% {
        transform: scale(.3);
        background-color: #F5EFEB;
    }

}

/*
Меню навигации
*/

#header,
#header .navbar-fixed-top,
#header .navbar-inner{
    height: 40px;
    min-height: 40px;
    padding: 0;
    width: 100%;
    box-shadow: none;
    background: white;
}
.nav>li>a{
    padding: 5px 15px 5px;
}
.navbar .brand{
    padding: 5px 20px 5px;
}
/*-------------------------------------------------------------*/


/**
* Дизайн ресазингов сетки
*/
.column-resize{
    background: #5292f7;
    z-index: 10000;
    position: absolute;
}
.column-resize-header{
    width: 3px;
    height: 24px;
}
.column-resize-body{
    width: 1px;
    margin: 0 1px;
}

/*--------------------------------------*/

.select2-search-choice{
    z-index: 2;
}
.select2-search-field{
    z-index: 1;
}
.select2-offscreen{
    height: 1px!important;
}

/*для оперы*/
.editable-input{
   display: block;
}
.ui-resizable-e{
    width: 10px!important;
}
.datepicker-dropdown{
    z-index: 1001!important;
}

.map,
.ymaps-map{
    height: inherit!important;
}
.tree-checkbox{
    position: absolute;
    margin-left: 20px;
}
.tree-checkbox-caption{
    vertical-align: middle;
    padding-left: 5px;
}


span.checkbox{
    padding-left: 10px;
}

.filter-row > li:not(.fast-filter){
    height: 52px!important;
}
.filter-row{
    min-height: 23px ;
}

/*
 ==================================================
 Form Header
 ==================================================
*/
.section-header {
    padding: 8px 20px;
    /*border: 1px solid #bdbbbc;*/
    /*background: rgb(247, 240, 216);*/
    color: #c49f70;
    line-height: 25px;
}

.top-header,
.card-top-header{
    width: 100%
}


.top-header span {
    font-size: 48px;
    color: #c49f70 !important;
    font-weight: 600;
}

.top-header font {
    font-size: 24px !important;
}
.top-header a:visited,
.top-header a:active,
.top-header a {
    color: #c49f70 !important;
    font-weight: 600;
}

.left-header {
    width: 5%;
    float: left;
    margin-top: 10px;
}

.right-header {
    width: 95%;
    margin-left: 5%;
}

.bottom-header,
.card-bottom-header{
    width: 95%;
    margin-left: 5%;
}

/*
 ==================================================
    Form Filter
 ==================================================
*/

.checkbox-filter-enabled {
    background: #1f8dd6 !important;
}

.toggle-button label {
    background: #edf3f7!important;
}

.section-filters input[type="checkbox"],
.section-filters input[type="radio"]{
    display: none;
}

.section-filters input[type="checkbox"]:checked + label,
.section-filters input[type="radio"]:checked + label{
    font-weight: bold;
}

.section-filters input[type="checkbox"]:checked + label:first-letter,
.section-filters input[type="radio"]:checked + label:first-letter {
    font-size:15px;
}

.section-filters  {
    width: 100%;
    min-height: 20px;
    margin-bottom: 5px;
}

.checkbox-filter{
    height: 57px;
}

.tree-button{
    display: inline;
    border: 1px solid #aaccf6;
    border-radius: 2px;
    height: 26px;
    width: 0!important;
    margin-left: 4px;
    background: #edf3f7;
}

.tree-button:hover{

    border-color: #81a4d0;
    background-color: #dbeeff;
}

.section-filters select{
    cursor: default;
}


.toggle-button,
.filter,
.filter-date,
.filter-date:focus,
.tree-container select
{
    border: 1px solid #aaccf6!important;
    border-radius: 3px!important;

}
.filter,
.filter-date,
.filter-date:focus,
.tree-container select{
    padding: 4px!important;
    height: 16px!important;
    font-size: 12px!important;
    margin-bottom: 0!important;

}

.filter-date,
.filter-date:focus,
.tree-container select
{
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    width: 150px;
    height: 16px!important;
    outline: none!important;

    margin-bottom: 0!important;

}

.section-filters label {
    /*color: #0274bd;*/
    font-size: 11px;
    line-height: 22px;
    margin-bottom: 0;
}
.fast-filter label{
    color: #0274bd;
    font-size: 12px;
    min-width: 33px;
    /*width: inherit;*/
    cursor: pointer;
    padding-left: 10px;
    text-align: center;

}
element.style {
}
.checkbox.inline, .radio.inline {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.checkbox, .radio{
    padding-left: 0!important;
}
.filter-item {
    padding-right: 8px;
    display: inline-block;
    vertical-align: bottom;
}

.filters-list {
    margin: 0;
}

.filters-content {
    padding: 0.5em ;
    border: 1px solid #edf3f7 ;
    margin: 0 5px;
    border-radius: 3px;
}
/*
 ==================================================
    Form Menu
 ==================================================
 */



/*Действия*/
.ui-menu,
.ui-menu-item a{
    border-radius: 0!important;
}

.select2-highlighted,
.ui-state-focus,
.dropdown-menu a:hover
{

    background: #dbeeff !important;
    outline: 1px solid #81a4d0 !important;
    text-shadow: none !important;
    color: #0274bd!important;
}

/*  ---------------------------------------------- */


.menu {
    height: 22px;
    margin: 0 0 5px 0;
    /*border: 1px solid #99bce8;*/
    padding: 0;
    /*background-color: #edf3f7;*/
}

.menu-button,
.menu-button:focus
{
    text-align: center;
    display: inline-block;
    padding: 0;
    border: 1px solid  #edf3f7;
    font-size: 12px !important;
    height: 19px;
    width: 95px;
    background: transparent;
    line-height: 18px;
    top: 50% !important;
    margin-top: -23px;
    position: relative;
    box-sizing: content-box;
    float: none!important;
    vertical-align: middle;
    cursor: default;
    color:#8c8c8c;
    opacity: 0.5;
    outline: none;

}
.small-button {
    width: 25px!important;
}
.menu-button.active{
    color: #0274bd ;
    opacity: 1;
}
.menu-button.active:hover
{
    border-color: #81a4d0;
    background-color: #dbeeff;
}

.messages-container{
    overflow: hidden;
    display: inline-block;
    height: 21px;
    vertical-align: middle;
}
.messages-container .alert {
    border-radius: 0!important;
    padding: 0 20px !important;
}


/* DateTime controls */
.dow{
    font:14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.day{
    font:12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}
.old{
    opacity: 0.45;
    color: #333333;
}
.day.active,
.hour.active,
.month.active,
.year.active
{
    box-shadow: none!important;
    background-image: none!important;
    background: none!important;
    border: 1px solid #FF8800!important;
    color: #333333!important;
}

.datetimepicker .switch{
    color: #ff8800;
    font: normal 18px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;

}
/*------------------------------------------*/

/*
  ===============================================
    Grid
  ===============================================
*/




.chocolate-textarea {
    padding-top: 0 !important;
    padding-left: 0 !important;
    /*text-indent: 11px !important;*/
}

/*.select2-container{*/
    /*width: inherit!important;*/
/*}*/

/* Grid controls */
.not-changed
{
    background: #f9f9f9;
}

.editable-inline,
.control-group,
.editable-inline .editable-input,
.chocolate-select,
.chocolate-textarea,
.input-append {
    width: 100%;
}

.editable-clear-x {
    /*right: 14px !important;*/
    display: none!important;
}


/*.editable-inline,*/
/*.chocolate-textarea,*/
/*.editable-inline {*/
    /*display: block !important;*/
    /*border-bottom: none !important;*/
/*}*/



.add-on{
    position: absolute!important;
    right: 0!important;
    top:0!important;
    z-index: 3;
    height: 22px!important;
    box-sizing: border-box;
    border-radius: 0!important;
    width: auto!important;
    padding: 2px 2px 3px 2px!important;
}

/*.input-append input[type=text] {*/
    /*width: 90%;*/
    /*font-size: 12px !important;*/
    /*text-indent: 4px;*/
/*}*/

/*table .editable-input {*/
    /*position: inherit !important;*/
/*}*/



.table-bordered td{
    border:1px solid #ededed;

}

.grid-button:hover {
    border: 1px solid  #aaccf6 !important;
    box-sizing: border-box;
}

.grid-modal-open {
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    visibility: hidden;
    border: 1px solid  #ddd !important;
    box-sizing: border-box;
    background: white;
    padding: 0;
    height: 100%;
}

.table-td:hover .grid-modal-open {
    visibility: visible;
}

.grid-modal-open:hover,
.grid-button:hover{
    background: #ebf3fd;
}

.grid-textarea {
    display: none!important;
}

.section-grid .editable {
    cursor: default;
    font-weight: normal;
    overflow: hidden!important;
    display: inline-block;
    width: 100%;
    color: inherit;
    padding-left:3px;
    box-sizing: border-box;
    line-height: 22px;
    height: inherit;
    white-space: nowrap;
}

.section-grid .table-td,
.card-button{
    height: 22px;
}

.section-grid .table-td {
    line-height: 22px;
    overflow: hidden;
    color: inherit;
    position: relative;
    font-family: 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif!important;
    font-size:  12px ;
}

.card-button {
    display: block;
    text-align: center;
}

.section-grid .date .input-medium{
    padding-left: 3px!important;
}
.section-grid .input-medium{
    cursor: default;
    height: 23px;
    width: inherit;
    line-height: 22px;
    border-radius:0!important;
    border: none!important;
    outline: none!important;
    padding: 0!important;
    margin-left: -1px;
    margin-top: -5px;
}
/*------------------------------------------*/

/* Indicators active & changed rows */
.row-active .card-button:before{
    content: "\f0da";
    font-size:  16px;
}

.grid-row-changed .card-button:after{
    content: "\f040";
    font-size: 12px;
}

.row-selected{
    background: #dfe8f6 !important;
}


/*------------------------------------*/

/*
 * dragtable
 *
 * @Version 1.0.3
 *
 * default css
 *
 */
.dragtable-drag-handle {
    cursor: move;
    background-color: orange !important;
}

/*
 * gets wrapped around placeholder table
 */

.dragtable-drag-wrapper {
    position: absolute;
    z-index: 2000;
    /*background-color: orange!important;*/
}

.dragtable-drag-wrapper .dragtable-drag-col thead {

    background-color: #f2f2f2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(100%, #f2f2f2));
    background-image: -moz-linear-gradient(90deg, #f2f2f2 0%, white);
    background-image: -ms-linear-gradient(90deg, #f2f2f2 0%, white);
}

/*table a{*/
/**/
/*}*/
.dragtable-drag-wrapper .dragtable-drag-col th {

    margin: 0 !important;
    overflow: hidden !important;
    min-width: 200px;
    height: 24px !important;
    margin: 0 !important;
    padding: 0 !important;
    width: auto;
    outline: none;
    /*overflow: hidden;*/
    color: #596573 !important;
    text-shadow: 0px 1px white !important;
    font-size: 12px;
    font-weight: 600;
    line-height: 100%;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    /*font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;*/
    border-right: 1px solid #e5e5e5;
    background: transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid #e5e5e5;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-radius: 0px 0px 0px 0px !important;
    -webkit-border-radius: 0px 0px 0px 0px !important s;
    box-shadow: inset 1px 1px white;
    -moz-box-shadow: inset 1px 1px white;
    -webkit-box-shadow: inset 1px 1px white;
}

/*
 * this gets applied to the table copy of the col that we are dragging
 */
.dragtable-drag-wrapper .dragtable-drag-col {
    /*opacity: 0.7;*/
    /*filter: alpha(opacity=70);*/
    cursor: move;
    /*background-color: orange!important;*/

}

.dragtable-drag-wrapper .dragtable-drag-col a {

    padding-top: 5px;
    padding-bottom: 6px;
    text-align: center;
    /*font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;*/
    color: #596573 !important;
    text-shadow: 0px 1px white !important;
    font-size: 11px;
    font-weight: 500;
    line-height: 100%;
}

/*
	placeholder is just a name for the real table col
*/
.dragtable-col-placeholder {
    color: #EFEFEF;
    background: #EFEFEF !important;
    visibility: visible !important;
}

.dragtable-col-placeholder * {
    opacity: 0.0;
    visibility: hidden;
}

.grid-error {
    border-left: 5px solid rgb(225, 112, 0)!important
}

.footer-separator {
    width: 0;
    margin: 0 4px;
    border-left: 1px solid #98c8ff;
    border-right: 1px solid white;
}

.editable-unsaved{
    font-weight: normal!important;
}

.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    cursor: default;
}
.node-searched a{
    text-decoration: underline!important;
    color: #0274bd!important;
    font-weight: bold;
}

td.td-red{
    color: red;
}
/*td input[type="text"]{*/
    /*padding: 2px 0 2px 5px!important;*/
    /*border-radius: 0!important;*/
    /*outline: none!important;*/
    /*border: none!important;*/

/*}*/
/*td .date input[type="text"]{*/
    /*padding-left: 0!important;*/
    /*line-height: 10px!important;*/
/*}*/


/*.editable-click, a.editable-click, a.editable-click:hover{*/
    /*border-bottom: none!important;*/
/*}*/










.grid-view  td {
    padding: 0 !important;
}

.tablesorter-filter{
    float:left;
    width: 100%;
    height: 21px !important;
    padding: 2px;
    margin: 0 !important;
    border-radius: 0 !important;
    box-sizing: border-box;
    border:1px solid #ddd;
    outline: 0;
}

.tablesorter-filter:focus {
    border-color: #aaccf6;
}

.tablesorter-filter-row td{
    background: white;
    padding: 2px 4px!important;
    box-sizing: border-box;
    text-align: center!important;
}

.tablesorter-filter-row td:nth-of-type(1):before{
    color: #878787;
    content: "\f0b0";
    font-family: 'FontAwesome';
}

/*Заглушка для первого столбца в фильтрах*/
.tablesorter-filter-row  td:nth-of-type(1) input {
    display: none !important;
}



.grid-view {
    overflow: scroll !important;
    padding: 0 !important;
}

.grid-menu,
.attachment-grid-menu{
    background: white;
}

.table-bordered{
    border: 0;
}

.hasFilters {
    background: white;
    border-collapse: collapse !important;
    outline: none;
}

.grid-caption {
    cursor: default;
    padding: 0 10px;
}

.section-grid  td,
.section-grid th
{
    background-clip: padding-box!important;
}

.grid-sorting:before {
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 2px;
}


.tablesorter-headerDesc .grid-sorting:before {
    content: "\f0de";
}

.tablesorter-headerAsc .grid-sorting:before {
    content: "\f0dd";
}

.tablesorter-header  {
    background-clip:border-box!important;
    overflow: hidden ;
    white-space: nowrap;
    border-radius: 0!important;
    border: 1px solid #c0c0c0;
    background: white;
    padding: 0 !important;
    outline: none!important;
}

.tablesorter-header a:hover {
    text-decoration: none !important;
}

.tablesorter-header a {
    display: block;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    line-height: 24px;
}


/*
 ================================================
     Grid footer
 ================================================
*/

/*.pager {*/
    /*width: 230px;*/
    /*margin: 0 !important;*/
    /*position: relative;*/
/*}*/

.footer-info{
    text-align: center;
    /*margin-left: 250px;*/
    height: 24px;
    /*vertical-align: middle;*/
    line-height: 24px;
}

/*.pager span {*/
    /*padding: 0 9px;*/
    /*line-height: 24px;*/
    /*cursor: default;*/
    /*color: #0274bd;*/
    /*display: inline-block;*/
/*}*/

.footer-title {
    color: #0274bd;
}

/*.pager span:not(.pagedisplay) {*/
    /*width: 9px;*/
    /*font-size: 14px;*/
/*}*/

/*.pager .disabled {*/
    /*color: #b4bac1;*/
    /*cursor: default;*/
/*}*/

/*.pager span:not(.disabled):hover {*/
    /*outline: 1px solid #81a4d0;*/
    /*background: #dbeeff;*/
/*}*/

/*.pager .first{*/
    /*position: absolute;*/
    /*left: 0;*/
/*}*/

/*.pager .prev{*/
    /*position: absolute;*/
    /*left: 41px;*/
/*}*/

/*.pager .pagedisplay{*/
    /*position: absolute;*/
    /*left: 82px;*/
/*}*/

/*.pager .next{*/
    /*position: absolute;*/
    /*left: 168px;*/
/*}*/

/*.pager .last{*/
    /*position: absolute;*/
    /*left: 209px;*/
/*}*/

/*footer .fa-step-backward:before{*/
    /*margin: auto;*/
/*}*/
.grid-footer{
    font-size: 11px;
    overflow: hidden;
    height: 23px;
    padding: 1px 0 !important;
    margin-top: 2px;
    width: 100%
}

/*--------------------------------------------------------*/

/*
Card header
*/
.card-top-header{
    padding: 10px 10px 5px 10px;
}
.card-header{
    color: #0274bd;
    margin: 0;
}

.card-header-left {
    width: 50px;
    float: left;
    font-size: 32px;
    font-weight: 600;
}

.card-header-right {
    /*width: 95%;*/
    margin-left: 50px;
}
.card-bottom-header{
    overflow: hidden;
    color: #ff0000;
    margin: 0;
    height: 22px;
}
.card-bottom-header .grid-message{
    height: 20px;
}

.card-bottom-header .alert{
    border-radius: 0!important;
    border: 1px dashed #df0000 !important;
    height: 16px;
    margin: 0!important;
    padding: 2px 0 2px 40px!important;
}

/*------------------------------*/

/*
Navigations
*/

#nav-search{
    position: absolute;
    width: 150px;
    top: 6px;
    left:0;
    padding: 0;
    margin-left: 170px;

}
.ui-autocomplete-input,
#nav-search,
.select2-input{
    border: dashed 1px silver;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-indent: 5px;
}
#nav-search:focus,
#nav-search:hover,
.filter:focus,
.filter-date:focus,
.tree-container select:focus,
.ui-autocomplete-input:focus,
.ui-autocomplete-input:hover,
.select2-input:focus{
    border: 1px solid #aaccf6;
    -webkit-box-shadow: inset 0 1px 1px #ebf3fd, 0 0 8px #d9e8fb ;
    -moz-box-shadow: inset 0 1px 1px #ebf3fd, 0 0 8px #d9e8fb;
    box-shadow: inset 0 1px 1px #ebf3fd, 0 0 8px #d9e8fb;
    outline: 0;
}


/*#nav-search:focus{*/
  /*border-style: solid;*/
/*}*/
/*-------------------------------------*/


/*
Grid Settings
*/

.grid-settings{
    margin: 15px 15px 0 15px;
}

.setting-item{
    font:  12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
}

.setting-caption{
    padding-right: 10px;
}

/*----------------------------------------------------*/


/*
 ==================================================
    Font icon
 ==================================================
*/

.fa-asterisk {
    color: #fe8479;
    float: left;
    font-size: 6px;
}

.fa-asterisk:before,
.fa-paperclip:before{
    margin-left: 2px;
}

.fa-paperclip {
    font-size: 13px;
}

.fa-times {
    font-size: 8px;
}

.fa-level-down,
.fa-user,
.fa-plus-circle,
.fa-refresh,
.fa-edit,
.fa-tasks,
.fa-save,
.fa-paperclip,
.fa-times,
.fa-asterisk,
.card-button,
.icon-th
{
    font-family: FontAwesome;
    font-style: normal;
}
.icon-th:before{
    content:  '\f009';
}
.fa-save,
.fa-refresh,
.fa-plus-circle{
    font-size: 13px;
    margin-right: 4px;
    text-shadow: 1px 1px 2px white, 0 0 1em white;
}

.active .fa-save,
.fa-plus-circle {
    color: rgb(13, 162, 144);
}

.card-button
{
    color: orange;
}
.fa-arrow-left,
.fa-arrow-right{
    font-size: 14px;
    color: #a3a3a3;
}


/*
c main.scss
*/

menu .fileinput-button {
    margin-right: 0;
}

.attachment-name a:hover {
    cursor: pointer;
}

.attachment-update .fileinput-button {
    background: none !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0;
}

.attachment-update span,
.attachment-update span input {
    height: 100%;
}

/*.attachment-update input {*/
    /*width: 100%;*/
/*}*/

/*.attachment-update input:hover {*/
    /*cursor: pointer !important;*/
/*}*/

.attachment-update .table-td:hover {

    outline: 1px #95c2e3 solid !important;
    /*height: 28px !important;*/
}



.attachment-dragover {
    background: rgba(247, 240, 216, 0.4) !important;
    border-top: dashed 1px #c49f70 !important;
    border-right: dashed 1px #c49f70 !important;
    border-left: dashed 1px #c49f70 !important;
}
.card-grid{
    height:100%
}
.card-grid section[data-id=grid-form]{
    position: relative;
}
.card-grid section[data-id=grid-form] footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

[data-id=grid-tabs]{
    min-height: 800px;
}
[data-id=grid-tabs] .ui-tabs-panel{
    padding:0 5px 15px 10px !important;
    border-radius: 0!important;
    position: relative;
}


#header div.navbar-fixed-top div.container-fluid{
    display: flex;
}
/*.navbar .brand{*/
/*}*/
#header div.nav-collapse{
    min-width: 1000px!important;
    overflow-y: visible!important;
}
#header .brand{
    min-width: 132px;
    margin-left: 0;

}


#content,
#tabs {
    width: auto;

}
/*#pagewrap{*/
    /*min-height: 25px;*/
    /*background: #fff;*/
/*}*/
#tabs>div{
    padding: 5px 10px !important;
    height: 100%;
}
  #footer{
      position: fixed;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1030;
      margin-bottom: 0;
  }
#footer,
#footer div.navbar-fixed-bottom,
#footer div.navbar-fixed-bottom div.navbar-inner,
#footer div.nav-collapse{
    height: 30px;
}
#footer div.container-fluid{
    display: flex;
}
#header .nav{
    margin: 0 10px 0 170px;
    min-width: 930px;
}
ul.ui-tabs-nav {
    padding: 0 !important;
    border-radius: 0 !important;
    height: 24px;

}

.ui-tabs-panel ul.ui-tabs-nav {
    display: inline-flex;

}


.tab-closed {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 4px;
    margin-top: 6px;
    padding-right: 5px;
    height: 10px;
    cursor: default!important;
}
.tab-closed:hover{
color: orange!important;
}
ul.ui-tabs-nav span.tab-closed em {
    display: none;
}

ul.ui-tabs-nav > li.ui-tabs-active {
    /*height: 21px !important;*/
    /*margin-top: -1px !important;*/
    background-color: white!important;
    margin-bottom: -5px !important;
    border-bottom: 0 !important;
    border-left:  1px solid #bdbbbc !important;
    border-right: 1px solid #bdbbbc !important;
    opacity: 1!important;
    /*color: #000 !important;*/
    color: #6e7e91 !important;

}

ul.ui-tabs-nav > li.ui-tabs-active > a {
    line-height: 20px !important;
}

/*ul.ui-tabs-nav > li:hover a span,*/
/*ul.ui-tabs-nav > li:hover a {*/
    /*color: #114d97 !important;*/
/*}*/

ul.ui-tabs-nav > li {
    border-radius: 0 !important;
    /*margin-bottom: 1px !important;*/
    height: 24px !important;
    padding-bottom: 3px!important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    /*border-right: 1px solid #bdbbbc !important;*/
    font-size: 13px !important;
}
ul.ui-tabs-nav > li span{
    color: #6e7e91 !important;

}

.ui-tabs-nav li a {
    padding: 0 15px !important;
    line-height: 20px !important;
    background: transparent !important;
    color: #6e7e91 !important;
    cursor: default!important;

}

.ui-tabs-nav li{
    /*background: #efefef !important;*/
    background: none !important;
    /*border: 1px solid silver!important;*/
    border-collapse: separate;
    opacity: 0.9;
}


.ui-tabs-nav > li span {
    color: #a1b3c8 !important;
}
.hidden{
    display: none!important;
}
#tabs .ui-state-focus{
    outline: none!important;
}

@media print{
    #header,
    .section-filters,
    .menu,
    #footer,
    .ui-tabs-nav,
    .ui-helper-hidden,
    .card-action-button{
        display: none!important;
    }
    .card-input{
        border: 0!Important;
    }
    .card-input a {
        color: black!important;
    }
    .card-input-no-edit{
        background: #fff!important;
    }
    .canvas{
        /*height: 3000px!important;*/
        /*width:4000px!important;*/
        overflow: visible;
    }

}

.canvas-filters .fast-filter label{
    height: 30px!important;
    border-right: 1px dotted #edf3f7 !important;
    line-height: 30px!important;
    font-size: 15px;
    padding-left: 5px!important;
    padding-right: 5px!important;
}
.canvas-filters .filter-row{
    min-height: 32px ;
}
.canvas-filters .ui-accordion-content{
    padding: 0!important;
}
